<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="NebroTransfer"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="NetBro Transfer">
         <property
               name="appName"
               value="NetBro Transfer">
         </property>
      </product>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <processor
            beforefragment="true"
            class="kr.co.d2net.netbro.transfer.processors.ContentJobProcessor">
      </processor>
   </extension>


</plugin>
